@font-face {
    font-family: "reg";
    src: url("../../fonts/TAJAWAL/TAJAWAL-REGULAR.TTF");
}

@font-face {
    font-family: "xlight";
    src: url("../../fonts/TAJAWAL/TAJAWAL-EXTRALIGHT.TTF");
}

@font-face {
    font-family: "light";
    src: url("../../fonts/TAJAWAL/TAJAWAL-LIGHT.TTF");
}

@font-face {
    font-family: "med";
    src: url("../../fonts/TAJAWAL/TAJAWAL-MEDIUM.TTF");
}

@font-face {
    font-family: "bold";
    src: url("../../fonts/TAJAWAL/TAJAWAL-BOLD.TTF");
}

@font-face {
    font-family: "xbold";
    src: url("../../fonts/TAJAWAL/TAJAWAL-EXTRABOLD.TTF");
}

@font-face {
    font-family: "black";
    src: url("../../fonts/TAJAWAL/TAJAWAL-BLACK.TTF");
}

:root {
    --main-color: #e06024;
    --sec-color: #313b58;
    --text-color: #444444;
    --font-normal: reg;
    --font-bold: bold;
    --font-med: med;
}

body {
    font-family: var(--font-normal);
    color: var(--text-color);
    overflow: hidden;
}

body::-webkit-scrollbar {
    background-color: #fff;
    width: 7px;
    height: 0px;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
}

html {
    scrollbar-width: thin;
    scrollbar-color: var(--main-color) #fff;
}

.overflow {
    overflow: hidden !important;
}

.fixall {
    text-decoration: none;
    border: none;
    outline: none;
    box-shadow: none;
    margin: 0;
    padding: 0;
}

.fixall:focus,
.fixall:hover {
    text-decoration: none;
    outline: none;
    box-shadow: none;
}

.page-cont {
    margin-top: 75px;
    margin-bottom: 75px;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
}

.page-title {
    font-size: 32px;
    text-align: center;
    font-family: var(--font-bold);
    color: var(--sec-color);
    margin-bottom: 25px;
}

.page-title:after {
    display: block;
    content: "";
    width: 90px;
    height: 2px;
    background-color: var(--main-color);
    margin: 7px auto 0;
}

.page-subtitle {
    font-size: 20px;
    color: #777;
    text-align: center;
    margin-bottom: 30px;
}


@media (max-width: 768px) {
    .page-title {
        font-size: 25px;
    }

    .page-subtitle {
        font-size: 18px;
        margin-bottom: 0;
    }
}